.rst__moveHandle
 {
	background-image : none !important;
    background-color: #708090 !important;
    width: 50px !important;
    border-radius: 0 3px 3px 3px !important;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59) !important;
    border: none !important;
}
.rst__moveHandle::before {
    content: '';
    width: 6%;
    height: 0.6em;
    border-radius: 0 20px 0 0;
    background-color: #708090;
    position: absolute;
    top: 4px;
    left: 0px;
}